{
	admin off
}

http://dev.appquilar.com, http://dev.api.appquilar.com {
	redir https://{host}{uri} permanent
}

https://dev.appquilar.com {
	tls /certs/appquilar-dev.pem /certs/appquilar-dev-key.pem
	handle_path /landing/* {
		root * /srv/public/landing
		file_server
	}
	reverse_proxy appquilar-web-dev:8080
}

https://dev.api.appquilar.com {
	tls /certs/appquilar-dev.pem /certs/appquilar-dev-key.pem
	reverse_proxy php:80
}
