version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
    environment:
      # Estas vars deben usarlas tus servicios/repos en el FE para llamar al BE
      VITE_API_BASE_URL: "http://php"
      VITE_USE_MOCK_DATA: "false"
    networks:
      - appquilar

networks:
  appquilar:
    external: true
